<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='/webjars/bootstrap/4.4.1/css/bootstrap.min.css' rel='stylesheet'>
    <title>earthquake_info</title>

</head>
<body>
    <div id="info">
        <h1>详细内容</h1>
    </div>


<script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="/webjars/axios/0.19.0/dist/axios.min.js"></script>
<script src="/webjars/vue/2.6.11/vue.min.js"></script>
<script>
    new Vue({
        el: "#info",
        data() {
            return {

            }
        },
        methods: function() {

        },

    });
</script>
</body>
</html>